NEXT_PUBLIC_SUPABASE_URL=https://rqllmdgejuhbmywjiadf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJxbGxtZGdlanVoYm15d2ppYWRmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA1NDA4NTIsImV4cCI6MjEwNjExNjg1Mn0.hIwyJ2w_LNkKVbmET2SXFkEgElemOcu7F6M4Zp-Yoyg
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJxbGxtZGdlanVoYm15d2ppYWRmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MDU0MDg1MiwiZXhwIjoyMTA2MTE2ODUyfQ.94yaV1htZ9iPnblY5T9loYMsoCQZYP8FLZ-WN7KppJI
DATABASE_URL=postgresql://postgres.rqllmdgejuhbmywjiadf:Hassantiya%401505@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres
NEXT_PUBLIC_SITE_URL=https://attendion.vercel.app
